[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openmim = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
numpy = "==1.23.5"
streamlit = "==1.17.0"
fastapi = "*"
uvicorn = "*"

[dev-packages]
gpustat = "*"
wandb = "*"

[requires]
python_version = "3.8"
